<!DOCTYPE html>
<html>
<head>
  <title>Pago QR</title>
  <script src="/qrcode.min.js"></script>
</head>
<body>
  <div style="display: flex; align-items: center;">
    <div id="qrcode"></div>
    <div style="margin-left: 20px;">
      <h2>💸 Pagar Bs <%= amount %></h2>
      <p>Orden: <%= order %></p>
      <p>Nombre: <%= name %></p>
    </div>
  </div>
  <script>
    new QRCode(document.getElementById("qrcode"), "<%= qrData %>");
  </script>
</body>
</html>
